<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4 text-center">Sports Scraper</h1>
    <hr>
    <h3 class="lead text-center">Your daily dose of sports articles.</h3>
  </div>
</div>
  </head>
  <body>
    <div class="header col-12 text-center">
    <h1>Article Curator</h1>
    <button type='button' class="btn btn-primary">Get new articles</button>
    </div>
    <div id="wrapper">
      <div id="articles"></div>
      <div id="notes"></div>
    </div>

  <footer>
      <a id="copyright">Copyright &copy; 2019</a>
  </footer>

  </body>
</html>